.container-tesseract > div:nth-child(n + 2) {
  padding: 24px 15px;
  color: #43555e;
}

.container-tesseract > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-tesseract hr {
  color: #43555e;
  margin-top: 5px;
}
